@mixin circle($r) {
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r;
}

#udesk-callcenter-component-alert {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    color: #fff;
}

.udesk-callcenter-component {
    background-color: #fff;
    width: 270px;
    position: fixed;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #e4e4e4;
    .top-bar {
        height: 34px;
        line-height: 34px;
        padding-left: 11px;
        padding-right: 11px;
        background-color: #333;
        //cursor: move;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -o-user-select: none;
        .title {
            color: #fff;
            height: 100%;
            float: left;
        }
        .buttons {
            float: right;
            > * {
                cursor: pointer;
                display: inline-block;
                color: #fff;
                margin-left: 5px;
            }
        }
    }
    .content-wrapper {
        padding: 20px;
        border: 0 solid #e4e4e4;
        border-right-width: 1px;
        border-left-width: 1px;
        color: #666;
        font-size: 14px;
    }
    .agent-state-panel {
        background-color: #f2f2f2;
        padding: 15px;
        .way-select {
            width: 50px;
        }
        .state-select {
            width: 65px;
            float: right;
        }
        .working {
            font-size: 14px;
        }
    }
    .ucm-dropdown {
        position: relative;
        font-size: 14px;
        > img, div {
            cursor: pointer;
        }
        > img {
            float: right;
            margin-top: 4px;
        }
        ul {
            border: 1px solid #ccc;
            padding: 3px;
            position: absolute;
            left: 0;
            top: 100%;
            margin: 0;
            width: 100%;
            background-color: #fff;
            z-index: 9999999;
            list-style: none;
            li {
                padding: 3px 0;
                cursor: pointer;
                &:hover {
                    background-color: #c3c3c3;
                }
            }
            &.up {
                bottom: 100%;
                top: auto;
            }
        }
    }
    .work-state-idle, .work-state-busy, .work-state-resting, .work-state-offline, .work-state-ringing, .work-state-talking, .work-state-neaten {
        i {
            display: inline-block;
            vertical-align: middle;
            width: 10px;
            height: 10px;
            margin-right: 3px;
            @include circle(10px);
        }
    }
    .work-state-idle {
        i {
            background-color: #49b34f;
        }
    }
    .work-state-busy {
        i {
            background-color: #d75452;
        }
    }
    .work-state-resting {
        i {
            background-color: #d75452;
        }
    }
    .work-state-offline {
        i {
            background-color: #d75452;
        }
    }
    .work-state-neaten {
        i {
            background-color: #b5c342;
        }
    }
    .work-state-talking {
        i {
            background-color: #d75452;
        }
    }
    .work-state-ringing {
        i {
            background-color: #d75452;
        }
    }
    .agent-select {
        position: relative;
        .dropdown {
            height: 240px;
            overflow: auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            border: 1px solid #c3c3c3;
            background-color: #fff;
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                text-align: left;
                padding: 5px;
                cursor: pointer;
                &:hover {
                    background-color: #e0e0e0;
                }
                &.text-center {
                    text-align: center;
                }
            }
        }
        .display-frame {
            border: 1px solid #c3c3c3;
            padding: 5px;
            font-size: 12px;
            text-align: left;
            cursor: pointer;
            img {
                float: right;
                margin-top: 3px;
            }
        }
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .text-center {
        text-align: center;
    }
    .hide {
        display: none;
    }
    .common-btn {
        border: 1px solid #ccc;
        text-align: center;
        font-size: 12px;
        padding: 5px;
        background-color: #fff;
        cursor: pointer;
        img {
            height: 20px;
            width: 20px;
            vertical-align: middle;
        }
    }
    button.common-btn {
        outline: none;
    }
    .btn-group {
        display: inline-block;
        border-right: 1px solid #ccc;
        > .common-btn {
            border-right: 0;
        }
    }
    .inline-block {
        display: inline-block;
    }
    .number-input {
        height: 36px;
        border: 1px solid #e4e4e4;
        margin-bottom: 20px;
        > img {
            float: right;
            margin-top: 6px;
            margin-right: 5px;
            cursor: pointer;
        }
        > div {
            margin-right: 30px;
            height: 100%;
            > input {
                border: 0;
                width: 100%;
                height: 100%;
                outline: none;
                font-size: 16px;
                padding: 0 0 0 5px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
        }
    }
    .keyboard {
        .left, .center, .right {
            float: left;
            width: 33.333333333%
        }
        .left {
            text-align: left;
        }
        .center {
            text-align: center;
        }
        .right {
            text-align: right;
        }
    }
    .clearfix {
        clear: both;
    }
    .customer-info {
        padding-top: 10px;
        .number-content {
            margin-right: 15px;
        }
        .location-content {

        }
    }

    hr {
        border: 0;
        height: 1px;
        background-color: #ccc;
        margin-bottom: 18px;
    }

    .desc-info {
        margin-bottom: 50px;
    }

    .time-info {
        margin-bottom: 70px;
    }
    .text-center {
        text-align: center;
    }
    .talking-panel {
        .agent-select-wrapper {
            padding: 0 30px;
            margin-bottom: 24px;
        }
        .time-info {
            margin-bottom: 25px;
        }
        .bottom-btns {
            margin-bottom: 12px;
        }
    }
    .pull-right {
        float: right;
    }
    .image-button {
        img {
            width: 20px;
            height: 20px;
        }
        vertical-align: middle;
    }
    .bottom-extension {
        border: 0 solid #e4e4e4;
        border-left-width: 1px;
        border-right-width: 1px;
    }
}
